body
    {
        height: 100vh;
    }

.nav
    {
        display: flex;
        background-color: lightgrey;
        padding: 0;

    }

.navItem
    {
        width: 90px;
        height: 24px;
        display: inline-block;
        border: solid #333333;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-top: 16px;
        align-content: stretch;
    }

.leftSection
    {
        width: 30%;
        height: 90%;
        float: left;
        background-color: darkblue;
    }

.rightSection
    {
        width: 70%;
        height: 90%;
        float: left;
        background-color: aqua;
    }

p
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small white;
    }